body{
    background-color: darkcyan;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1, h2{
    margin-top: 10px;
    text-align: center;
}

#principal{
    border-radius: 10px;
    background-color: white;
    margin: auto;
    width: 60%;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
#conteudo{
    margin: auto;
    width: 95%;
    padding: 5px;
}

img{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.diagrama{width: 85%;}

footer{
    color: seashell;
    text-align: center;
}
#presets{width: 27%;}
#graph{width: 30%;}
#palette{width: 10%;}
.modulator{width: 70%;}
.blocomodulator{width: 40%;}


a{text-decoration: none;}
#referencia{color: wheat;}
#link{
    display: flex;
    justify-content: center;
    margin-bottom: -15px;
}

#filtroimagem {display: flex;}

#link > p{
    margin-left: 10px;
    padding: 5px;
}
.numpagina > a{color: darkcyan;}