body{
    margin: 0;
    background-color: darkcyan;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1, h2, h3{
    margin-top: 10px;
    text-align: center;
}
header{
    width: 100%;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    margin-bottom: 10px;
    font-size: 135%;
}

header > a{
    color: white;
}

header > a:hover{
    color: wheat;
}
#sobre{
    font-size: 80%;
}

#principal{
    border-radius: 10px;
    background-color: white;
    margin: auto;
    width: 60%;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
#conteudo{
    margin: auto;
    width: 95%;
    padding: 5px;
}

img{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.diagrama{width: 85%;}
#presets{width: 27%;}
#graph{width: 30%;}
#palette{width: 10%;}
.modulator{width: 70%;}
.blocomodulator{width: 40%;}


a{text-decoration: none;}
.link{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: -15px;
}

#filtroimagem {display: flex;}

.link > p{
    margin-left: 10px;
    padding: 5px;
}
.numpagina > a{color: darkcyan;}


.codigo{
    margin-top: 5px;
    background-color:#eeeeee;
    font-size: 95%;
    color: darkgrey;
    border-radius: 5px;
    border: 1px solid gainsboro;
}

@media (max-width: 900px){
    #principal{
        width: 100%;}
}